body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #EEE;
    margin: 0px;
    overflow: auto;

    background-image: url("../images/background.jpg");
    background-size: cover;
}
