body {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #EEE;
    margin: 0px;
    /*When overflow is "auto;" there is a problem occurs with sizing WebGL canvas, check F12 for more (Default styling issue)*/
    overflow: auto;

    /*background-image: url("../images/background.jpg");*/
    /*background-size: cover;*/
    position: relative;
}

#webgl-canvas {
    position: absolute;
    top: 0;
    left: 0;
}